<div class="card col sm12">
  <div class="card-content">
  	<img src="../../assets/images/logo.svg" alt="taco">
    <h2>Random Recipe</h2>
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a href="#test4">{{baseName}}</a></li>
      <li class="tab"><a href="#test5">{{condimentName}}</a></li>
      <li class="tab"><a href="#test6">{{mixinName}}</a></li>
      <li class="tab"><a href="#test7">{{seasoningName}}</a></li>
      <li class="tab"><a href="#test8">{{shellName}}</a></li>
    </ul>
  </div>
  <div class="card-content grey lighten-4">
    <div id="test4">
    	<p>{{baseRecipe}}</p>
    </div>
    <div id="test5">
    	<p>{{condimentRecipe}}</p>
    </div>
    <div id="test6">
    	<p>{{mixinRecipe}}</p>
    </div>
    <div id="test7">
    	<p>{{seasoningRecipe}}</p>
    </div>
    <div id="test8">
    	<p>{{shellRecipe}}</p>
    </div>
  </div>
</div>