<div class="card col sm12">
  <div class="card-content center">
  	<img src="../../assets/images/logo.svg" alt="taco">
    <h2>Random Recipe</h2>
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a href="#test4">{{baseName}}</a></li>
    </ul>
  </div>
  <div class="card-content grey lighten-4">
    <div id="test4">
    	<p>{{baseRecipe}}</p>
    	<hr>
    	<p>{{shellRecipe}}</p>
    	<hr>
    	<p>{{seasoningRecipe}}</p>
    	<hr>
    	<p>{{mixinRecipe}}</p>
    	<hr>
    	<p>{{condimentRecipe}}</p>
    </div>
  </div>
</div>