<div class="row card-div">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/images/siracha-shrimp.jpg">
      </div>
      <div class="card-content">
      <span class="card-title"><strong>Siracha Shrimp Tacos</strong></span>
      <hr>
      	<h4>TOTAL TIME: 20 min PREP: 15 min LEVEL: EASY SERVES: 4</h4>
        <hr>
        <p>
				<strong>INGREDIENTS</strong>
				<br>
				5 tsp. Sriracha, divided
				2 tbsp. soy sauce
				2 cloves garlic, minced
				1 lb. shrimp, tails removed, peeled and deveined
				1 c. sour cream
				1/2 tsp. sesame oil
				1 tsp. honey
				2 limes
				kosher salt
				2 c. shredded purple cabbage
				1/4 c. fresh chopped cilantro
				1 tbsp. canola oil
				8 corn tortillas
				<br>
				<strong>DIRECTIONS</strong>
				<br>
				In a large mixing bowl stir together 3 teaspoons Sriracha, soy sauce, and garlic; add shrimp and mix until well coated. Set aside to marinate.
				<br>
				Meanwhile, in a small Ziploc bag add sour cream and remaining 2 teaspoons Sriracha; close bag while squeezing out excess air. Keep in fridge until ready to serve. In a medium mixing bowl, combine sesame oil, honey, and zest and juice of one lime; season with 1/2 teaspoon salt. Toss gently together with cabbage and cilantro; set aside.
				<br>
				In a large skillet over medium-high heat, heat oil. Drain shrimp and pat dry; discard marinade. Sear shrimp until slightly caramelized, then flip. Cook until shrimp are firm, about 3 minutes, then transfer to a plate.
				<br>
				In a dry skillet over medium heat, warm tortillas and transfer to a plate. Cover with a clean kitchen towel to keep warm. Assemble tacos with a handful of cabbage slaw and a few pieces of shrimp. Cut 1/8" corner off of the plastic bag and squeeze to drizzle Sriracha-sour cream over shrimp. Cut remaining lime into wedges and serve immediately.
				</p>
      </div>
      <div class="card-action center">
      	<a routerLink="/list" class="btn">Back</a>
      </div>
    </div>
  </div>
</div>