<div class="row card-div">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="{{taco.picture}}">
      </div>
      <div class="card-content">
      <span class="card-title"><strong>{{taco.name}}</strong></span>
      <hr>
        <p>
        {{taco.shell}}
				<br>
				{{taco.meat}}
				<br>
				{{taco.toppings}}
				<br>
				{{taco.recipe}}
				</p>
      </div>
      <div class="card-action center">
      	<a routerLink="/list" class="btn">Back</a>
      </div>
    </div>
  </div>
</div>