<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img src="../../logo.svg"></a>
    <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li><a routerLink="/find">Find</a></li>
      <li><a routerLink="/list">List</a></li>
      <li><a routerLink="/random">Random</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a routerLink="/find">Find</a></li>
      <li><a routerLink="/list">List</a></li>
      <li><a routerLink="/random">Random</a></li>
    </ul>
  </div>
</nav>