<div class="row">
	<a routerLink="/login" id="goBack" class="btn">Go Back</a>
	
	<h2>Join Now</h2>

	<span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

	<form class="col sm12" #formData="ngForm" (ngSubmit)="onSubmit(formData)">
		<div class="row">
			<div class="input-field col sm12">
				<input id="password" type="password" class="validate" (ngModel)="email" name="email" required>
				<label for="password">Password</label>
			</div>
			<div class="input-field col sm12">
				<input id="email" type="email" class="validate" (ngModel)="password" name="password" required>
				<label for="email">Email</label>
			</div>
			<a class="btn" type="submit" [disabled]="!formData.valid">Create Account</a>
		</div>
	</form>
</div>