.App {
  text-align: center;
}
.App-header {
  background-color: #3ABEFF;
  height: 20vh;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
  margin-bottom: 3%;
}
.navbar {
  left: 0;
  position: fixed;
  top: 18vh;
  width: 100vw;
}
form {
  margin-top: 18vh;
}
button {
  margin: 2%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
